<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Data Binding Examples</div>
            <div class="item item-body">
                <label class="item item-input">
                    <span class="input-label">Type your name </span>
                    <input type="text" placeholder="here....." ng-model="search.name"/>
                </label>

                <h3>Hi <b>{{search.name | uppercase}}</b></h3>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Calculator</div>
            <div class="item item-body">
                
                <div class="row">
                    <div class="col">
                        <label class="item item-input ">
                            <input type="text" class="" placeholder="Num1" ng-model="cal.num1" />
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input ">
                            <span class="col">+</span>
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input ">
                            <input type="text" class="" placeholder="Num1" ng-model="cal.num2" />
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input ">
                            <span class="col">{{ cal.num1 + cal.num2 }}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">List</div>
            <div class="item item-body">
                <ul>
                    <li data-ng-repeat="user in users | filter:search.name | orderBy:'age' ">Name: <b>{{user.name}}</b>  Age: <b>{{user.age}}</b></li>
                </ul>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">List</div>
            <div class="item item-body">
                <input type="text" ng-model="newUser.name" placeholder="Enter name here" />
                <input type="text" ng-model="newUser.age" placeholder="Enter age here" />
                <button data-ng-click="setUsers(newe)">Add User</button>
            </div>
        </div>
    </ion-content>
</ion-view>
